# Jogo único em estratégias puras (espaço finito e dois jogadores)

## O jogo em si:

Tal jogo é um jogo de um perído composto por dois jogadores, cada um possuindo um espaço finito de estratégias puras.

* Estratégias puras: os jogadores não possuem incerteza sobre a tomada de ação. Ou seja, cada jogador irá jogar a estratégia $s_{j}$ ($j$ representa a $j$-ésima estratégia) com probabilidade $1$ e jogará as outras estratégias com probabilidade $0$;


* Um período: o jogo pode conter vários períodos (até uma quantidade infinita de períodos) nos quais os jogadores podem atuar. O jogo em questão possui somente um período;


* Espaço finito de estratégias: em cada período, cada jogador possui somente uma quantidade finita de estratégias/ações disponíveis para serem tomadas. Nesse caso, os jogadores não precisam possuir o mesmo número de estratégias disponíveis.

## Criação da representação do jogo:

Utiliza-se o pacote Pandas e o pacote Numpy para gerar o jogo. O produto final da representação consiste em uma função JG2_T1_EP_EF(J1E, J2E, menor, maior, partial):

* Os parâmetros *J1E* e *J2E* são o número de estratégias disponíveis para os jogadores 1 e 2, respectivamente. São obrigatórios e devem ser numeros naturais;


* Os parâmetros *menor* e *maior* se referem ao menor e ao maior payoffs possíveis no jogo. Isso porque iremos gerar os payoffs de forma aleatória uniforme.


* O parâmetro *partial* é opcional. Ele pode assumir somente os *strings 'J1'* e *'J2'*, retornando um DataFrame cujas linhas e colunas representam as estratégias disponíveis para o jogador 1 e para o jogador 2, respectivamente, e cujos valores no DataFrame representam o *payoff* do jogador especificado por *partial*. Em sua ausência, a função retorna o DataFrame que representa o jogo todo. Ou seja, os valores no DataFrame são listas de dois elementos cada, no qual o primeiro se refere ao *payoff* do primeiro jogador e o segundo se refere ao *payoff* do segundo jogador para cada *match* de duas estratégias.

In [1]:
import Jog2_T1_Fin_Pur as jfp
import pandas as pd
payoff1 = jfp.estrategias_payoffs(8, 8, -100, 100)
payoff2 = jfp.estrategias_payoffs(8, 8, -100, 100)

In [2]:
payoff1

       s_1    s_2    s_3    s_4    s_5    s_6    s_7    s_8
s_1 -66.55 -29.31  62.92  53.38 -19.28 -87.66  89.00 -69.10
s_2  23.57  77.89   3.78  65.56 -48.73  37.76  59.34  14.27
s_3  82.17  93.15  45.56 -69.92  57.39  -4.48  68.56  62.13
s_4  52.25 -12.28  95.31  22.30 -51.95  29.93  28.96  48.66
s_5   8.55   4.02  54.07  -1.87  43.03 -74.61 -16.38 -85.71
s_6 -46.95  66.23  87.72  -4.51 -83.01  68.03  80.82 -68.61
s_7  78.96  38.98  52.78  18.50  38.45  -0.08 -23.80   9.17
s_8  50.42 -37.98  44.66  94.04  79.65 -71.81 -56.87  30.74

In [3]:
payoff2

       s_1    s_2    s_3    s_4    s_5    s_6    s_7    s_8
s_1  28.84 -75.82  21.93  90.11 -28.62  11.90 -35.03  34.27
s_2  58.32 -23.34  29.45  10.98 -43.14 -54.85 -57.88  40.51
s_3 -47.87 -68.30  38.51 -45.88  33.76  12.35  87.21 -49.18
s_4 -68.81 -70.52  63.68 -52.82 -98.90  55.10   3.06 -19.75
s_5  25.53  55.22  98.83 -97.63  54.72  78.17  47.61 -17.16
s_6  22.55 -35.18  -1.73  77.52  14.94  89.95 -17.96  24.27
s_7  29.28  52.25 -45.35  46.91 -45.47  29.59  17.27  30.26
s_8 -93.59  96.22 -88.74 -92.92  66.67 -52.94  14.19  -1.61

In [4]:
jfp.jogo(payoff1, payoff2)

,s_1,s_2,s_3,s_4,s_5,s_6,s_7,s_8
s_1,"-66.55, 28.84","-29.31, -75.82","62.92, 21.93","53.38, 90.11","-19.28, -28.62","-87.66, 11.9","89.0, -35.03","-69.1, 34.27"
s_2,"23.57, 58.32","77.89, -23.34","3.78, 29.45","65.56, 10.98","-48.73, -43.14","37.76, -54.85","59.34, -57.88","14.27, 40.51"
s_3,"82.17, -47.87","93.15, -68.3","45.56, 38.51","-69.92, -45.88","57.39, 33.76","-4.48, 12.35","68.56, 87.21","62.13, -49.18"
s_4,"52.25, -68.81","-12.28, -70.52","95.31, 63.68","22.3, -52.82","-51.95, -98.9","29.93, 55.1","28.96, 3.06","48.66, -19.75"
s_5,"8.55, 25.53","4.02, 55.22","54.07, 98.83","-1.87, -97.63","43.03, 54.72","-74.61, 78.17","-16.38, 47.61","-85.71, -17.16"
s_6,"-46.95, 22.55","66.23, -35.18","87.72, -1.73","-4.51, 77.52","-83.01, 14.94","68.03, 89.95","80.82, -17.96","-68.61, 24.27"
s_7,"78.96, 29.28","38.98, 52.25","52.78, -45.35","18.5, 46.91","38.45, -45.47","-0.08, 29.59","-23.8, 17.27","9.17, 30.26"
s_8,"50.42, -93.59","-37.98, 96.22","44.66, -88.74","94.04, -92.92","79.65, 66.67","-71.81, -52.94","-56.87, 14.19","30.74, -1.61"

In [5]:
jfp.solve(payoff1, payoff2)

array(['s_4, s_3', 's_6, s_6'], dtype=object)